.displayData {
    border: 2px solid black;
    border-radius: 10px;
}

.displayData img {
    width: 200px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 100px;
}

.button p {
    margin-right: 5px;
}